@model App.Models.ViewModels.TodoViewModel

@{
    ViewData["Title"] = "Todo";
}

<div class="m-auto mt-5" style="max-width: 600px;">
    <h1 class="display-6 text-center">Todo</h1>
    <div class="d-flex flex-column gap-2">
        <form class="row g-2" method="post">
            <div class="col-12">
                <input class="form-control" name="Text" type="text" placeholder="Введіть задачу" required>
            </div>
            <div class="col-4">
                <select class="form-select" name="CategoryId" required>
                    @foreach(var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="col-4">
                <button class="btn btn-primary w-100">Додати</button>
            </div>
            <div class="col-4">
                <input class="form-control" name="EndDate" type="datetime-local" />
            </div>
        </form>
        <div class="d-flex py-2 px-3 flex-column gap-2 border rounded">
            @if (Model.Tasks.Count() == 0)
            {
                <p class="text-center mt-3">Задачі відсутні</p>
            }
            @foreach (var task in Model.Tasks)
            {
                var style = task.Completed ? "text-decoration-line-through" : "";
                
                <label class="row position-relative align-items-center bg-light p-3 rounded" style="cursor: pointer;">
                    <div class="col-1 text-center">
                        <input class="form-check-input" checked="@task.Completed" value="@task.Id" type="checkbox" onclick="completeTask(@task.Id, @task.Completed.ToString().ToLower())">
                    </div>
                    <div class="col-7 @style">@task.Text</div>
                    <div class="col-3 border-start border-primary">@task.Category</div>
                    <div class="col-1 text-center">
                        <button class="btn btn-close" type="button" onclick="deleteTask(@task.Id)"></button>
                    </div>
                    @if (@task.EndDate > DateTime.MinValue)
                    {  
                        <span class="position-absolute d-flex justify-content-center" style="left: 0; bottom: 2px; color: gray; font-size: 10px;">
                            до @task.EndDate
                        </span>
                    }
                </label>
            }
            <div class="py-2 border-top">
                <form class="row g-2" method="post" asp-controller="Home" asp-action="ChangeStorage">
                    <div class="col-9">
                        <select class="form-select" name="Storage" required>
                            <option selected="@(Model.Storage == "db")" value="db">База даних</option>
                            <option selected="@(Model.Storage == "xml")" value="xml">XML сховище</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary w-100">Змінити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
